[user]
        name = Masashi SAKAI
        email = masashi.sakai1986@gmail.com
[color]
        ui = true
[core]
        editor = vim
        pager = less -r
[filter "media"]
        clean = git-media-clean %f
        smudge = git-media-smudge %f
[alias]
        br = branch
        co = checkout
        cp = cherry-pick
        df = diff
        mg = merge
        rb = rebase
        st = status
        push-f = push --force-with-lease
        snapshot = !"git tag $(git branch --list | awk '/\\*/{ print $2 }')_$(date '+%Y%m%d_%H%M%S')"
		clean-snapshot = !"git tag -d $(git tag | grep --color=none '_[0-9]\\{8\\}_[0-9]\\{6\\}$')"
		prune-branches = "!f() { \
				git checkout master; \
				git branch --merged | grep -v 'master' | xargs git branch -d; \
				git fetch --prune; \
				git checkout -; \
			}; f"
[mergetool "p4Merge"] 
        cmd = p4Merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
        trustExitCode = false
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path = 
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[rebase]
        autosquash = true
[pull]
        rebase = false
