[user]
        name = Masashi SAKAI
        email = masashi.sakai1986@gmail.com
[color]
        ui = true
[core]
        editor = vim
        pager = less -r
[filter "media"]
        clean = git-media-clean %f
        smudge = git-media-smudge %f
[alias]
        br = branch
        co = checkout
        cp = cherry-pick
        df = diff
        mg = merge
        rb = rebase
        st = status
